$allan: 'Allan', cursive;
$anton: 'Anton', sans-serif;
$bebas: 'Bebas Neue', cursive;
$courgette: 'Courgette', cursive;
$inbue: 'Imbue', serif;
$kaushan: 'Kaushan Script', cursive;
$lobster: 'Lobster', cursive;
$nove: 'Nova Square', cursive;
$oswald: 'Oswald', sans-serif;
$pathway: 'Pathway Gothic One', sans-serif;
$poppins: 'Poppins', sans-serif;
$potta: 'Potta One', cursive;
$pt: 'PT Sans Narrow', sans-serif;
$righteous: 'Righteous', cursive;
$roboto: 'Roboto', sans-serif;
$squada: 'Squada One', cursive;
$teko: 'Teko', sans-serif;
$trade: 'Trade Winds', cursive;
$yenone: 'Yanone Kaffeesatz', sans-serif;
$yellow: 'Yellowtail', cursive;

$prime: #08192d;
$second: #0e2a49;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins;

    color: white;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: $prime;
}
.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;


    padding: 10px;
}

.form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: inherit;
    padding: 20px;

    input[type='text'] {
        width: 400px;
        height: 40px;
        padding: 10px;

        background: $second;

        font-size: 12px;

        border: 1px solid #ccc;

        border-radius: 5px;

        transition: 0.1s;

        &:focus-visible {
            outline: 3px solid rgba(32, 203, 255, 0.486);
            outline-offset: 1px;
            outline-style: solid;
        }
    }

    .filter-types {
        padding: 10px;
        gap: 6px;

        p {
            font-weight: bold;
            width: 100%;
            padding: 0 20px;
            font-size: 14px;
        }
    }

    .filter-types div{
        display: flex;
        padding: 5px 10px;

        gap: 10px;

        label {
            display: grid;
            place-content: center;

            font-weight: bold;

            width: 185px;
            background: rgba($second, 0.7);
            border: 1px solid $second;
            
            height: 40px;
            cursor: pointer;

            transition: 0.1s linear;

            -webkit-user-select: none;
            user-select: none;
        }

        input[type='radio'] {
            display: hidden;

            &:checked ~ label {
                background-color: $second;
                border: 1px solid rgba(204, 204, 204, 0.192);
            }
        }
    }
}

.display-area {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    img {
        height: 400px;
        width: 300px;
        border-radius: 5px;
    }
}

.sep {
    display: flex;
    width: 100%;
    height: 200px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    width: 140px;
    height: 40px;
    display: grid;
    place-content: center;

    font-size: 14px;
    font-weight: bold;

    background: rgba($second, 0.7);
    border: 1px solid $second;
    
    cursor: pointer;

    transition: 0.1s linear;

    -webkit-user-select: none;
    user-select: none;
    // align-self: flex-start;
}

button:active {
    background-color: $second;
    border: 1px solid rgba(204, 204, 204, 0.192);
}
/* GENERATED BY SACHIN */